@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.relative.overflow-clip.w-full {
  /* Apply blur to the parent element */
  backdrop-filter: blur(50px);
}

.sidebarContainer::-webkit-scrollbar {
  background-color: transparent;
  width: 6px;
}

.sidebarContainer::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.sidebarContainer::-webkit-scrollbar-thumb:hover {
  background-color: #313131;
}

.scroll-container::-webkit-scrollbar {
  margin-right: 10px;
  width: 0; /* Hide scrollbar */
}
/* Optionally, you can add additional styling for the scrollbar track and thumb */
/* .scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
} */

.recenpostsContainer::-webkit-scrollbar {
  background-color: #555555;
  width: 6px;
}
.recenpostsContainer::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 2px;
}

.simplebar-content {
  z-index: 10;
}
.simplebar-scrollbar {
  /* background-color: rgba(240, 240, 240, 0.678); */
  /* Customize the scrollbar color */
  border-radius: 10px;
  /* Optional: Round the corners */
}

.simplebar-track {
  margin-right: 3px;
  background-color: transparent;
}
